.container {
  padding: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  &.fill {
    background-color: var(--ev-c-white);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
  }
  &.outlined {
    background-color: var(--ev-c-white);
    border: 2px var(--light-blue) dashed;
  }
  &.full {
    width: 100%;
  }
  &.halfWidth {
    width: 50%;
  }
}
