@import '../../../../styles/mixins';
.navlist {
  padding: 0;

  &__link {
    color: var(--ev-c-black-soft);
    text-decoration: none;
    transition: color ease-in-out 0.2s;
    &:hover {
      color: var(--light-blue);
    }
  }
}

.text {
  @include desktop {
    font-size: desktopVW(14);
  }
  @include small-desktop {
    font-size: smallDesktopVW(14);
  }
}
