.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 10px;
  gap: 10px;
  &__dragArea {
    height: 300px;
    display: flex;
    align-items: center;
    .active {
      transition: all 100ms ease-in-out;
      background-color: #e4f6ff;
    }
    &__text {
      color: var(--light-blue);
      &__span {
        font-weight: bold;
        color: #1e4675;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  &__images {
    width: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    &__image {
      position: relative;
      width: 110px;
      height: 110px;
      border-radius: 5px;
      overflow: hidden;
      &__img {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
      }
    }
    span {
      color: var(--light-blue);
      position: absolute;
      top: 0;
      right: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
}
